.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .paginationButton,
  .pageNumber {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #ddd;
    }
  
    &:disabled {
      cursor: not-allowed;
      background-color: #535151;
    }
  
    &.active {
      background-color: #007bff;
      color: #fff;
    }
  }
  
  .dots {
    padding: 0.5rem 1rem;
    color: #333;
  }
  